.button,
.result {
  background-color: rgb(81, 122, 121);
  border: 6px solid rgb(213, 236, 213);
  color: white;
  font-size: 25px;
  padding: 5px;
}

.result {
  /* calculate manually, we have 3 buttons in each row and each button 100px 
    so the result div should be 300px 

   But we have 5px padding on the left and 5px padding on the right 

   300 - 10 = 290 

   also we have 6px border on the left and 6px border on the right

   290 = 12 = 286 
    */
  background-color: rgb(36, 117, 117);
  width: 286px;
}

.button {
  /* 45px padding is too much */
  /* padding: 10px 45px; */

  /*  Setting fixed width and height to all buttons simplify the styling and space distributing */
  width: 100px;
  height: 50px;
}
