.button {
    background-color: rgb(3, 138, 184);
    border: 7px solid rgb(213, 236, 213);
    color: white;
    padding: 10px 45px;
    font-size: 25px;
}

.button {
    background-color: rgb(81, 122, 121);
}

.button1 {
    background-color: rgb(81, 122, 121);
}

.button2 {
    background-color: rgb(81, 122, 121);
}

.button3 {
    background-color: rgb(81, 122, 121);
}

.button4 {
    background-color: rgb(81, 122, 121);
}

.button5 {
    background-color: rgb(81, 122, 121);
}

.button6 {
    background-color: rgb(81, 122, 121);
}

.button7 {
    background-color: rgb(81, 122, 121);
}

.button8 {
    background-color: rgb(81, 122, 121);
}

.button9 {
    background-color: rgb(81, 122, 121);
}

.button10 {
    background-color: rgb(81, 122, 121);
}

.button11 {
    background-color: rgb(81, 122, 121);
}

.button12 {
    background-color: rgb(81, 122, 121);
}

.button13 {
    background-color: rgb(81, 122, 121)A;
}

.button14 {
    background-color: rgb(81, 122, 121);
}

.button15 {
    background-color: rgb(81, 122, 121);
}

.button16 {
    background-color: rgb(81, 122, 121);
}

.button17 {
    background-color: rgb(81, 122, 121);
}

.button18 {
    background-color: rgb(81, 122, 121);
}

.button19 {
    background-color: rgb(81, 122, 121);
}

#l {
    background-color: rgb(36, 117, 117);
    border: 6px solid rgb(213, 236, 213);
    color: white;
    padding: 15px 32px;
    text-align: right;
    width: 285px;
    font-size: 25px;
}

.button19 {
    padding: 10px 20px;
    font-size: 20px;
    background-color: rgb(81, 122, 121);
    border: 7px solid rgb(213, 236, 213);
    color: white;
    padding: 10px 21px;
    font-size: 25px;
}

.button12 {
    padding: 10px 48.7px;
}

.button14 {
    padding: 10px 44.5px;
}

.button16 {
    padding: 10px 47px;
}

.style {
    margin: 0 auto;
}