.button,
.result {
    background-color: rgba(43, 83, 83, 0.781);
    border: 3.5px solid rgba(229, 230, 224, 0.726);
    color: white;
    font-size: 25px;
    padding: 5px;
    min-height: 60px;
    border-radius: 6%;
}

.result {
    /* calculate manually, we have 3 buttons in each row and each button 100px 
    so the result div should be 300px 

   But we have 5px padding on the left and 5px padding on the right 

   300 - 10 = 290 

   also we have 6px border on the left and 6px border on the right

   290 = 12 = 286 
    */
    background-color: rgba(43, 83, 83, 0.781);
    width: 290px;
}

.button {
    /* 45px padding is too much */
    /* padding: 10px 45px; */
    /*  Setting fixed width and height to all buttons simplify the styling and space distributing */
    width: 100px;
    height: 60px;
    border-radius: 12%;
}

.wrapper {
    background-color: rgb(62, 7, 212);
    display: inline-block;
}